<?xml version="1.0" encoding="UTF-8" ?>
<settings>
    <activeProfiles>
        <activeProfile>publish</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>publish</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/Akjo03/JavaUtils</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>Akjo03</username>
            <password>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</password>
        </server>
    </servers>
</settings>